########log settings########
##开启慢查询日志
slow_query_log = 1
##超出次设定值的SQL即被记录到慢查询日志
long_query_time = 30
slow_query_log_file = /var/log/slow.log
##表示记录下没有使用索引的查询
log_queries_not_using_indexes = 1
##记录管理语句
log_slow_admin_statements = 1
##开启复制从库复制的慢查询的日志
log_slow_slave_statements = 1
##设置每分钟增长的没有使用索引查询的日志数量
log_throttle_queries_not_using_indexes = 10
# 3天
#expire_logs_days = 3
binlog_expire_logs_seconds=259200
min_examined_row_limit = 100
 
 
innodb_lock_wait_timeout=600
 
#----------------优化配置(说明从上到下)
## 支持符号链接，就是可以通过软连接的方式，管理其他目录的数据库，最好不要开启，当一个磁盘或分区空间不够时，可以开启该参数将数据存储到其他的磁盘或分区
#symbolic-links=0
## 设置autocommit=0，则用户将一直处于某个事务中，直到执行一条commit提交或rollback语句才会结束当前事务重新开始一个新的事务(调试模式时使用）
##autocommit=0
## MySQL读入缓冲区的大小
read_buffer_size = 100M
## MySQL的随机读缓冲区大小、MySQL的顺序读缓冲区大小
read_rnd_buffer_size = 100M
sort_buffer_size = 100M
## 连接超时时间、保持时间、最大传输数据包大小
wait_timeout=2880000
interactive_timeout=2880000
max_allowed_packet=100M
## 连接缓存池大小、临时表大小、临时存放位置
join_buffer_size = 128M
tmp_table_size = 100M
